@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Koulen&family=Macondo&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto:wght@100&family=Smooch&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: #f1f5f8;
}

.container {
  margin: 0 auto;
  width: 90vw;
  max-width: 620px;
  padding: 3rem 0;
}

.heading {
  text-align: center;
  padding: 50px 20px;
}

.heading h1 {
  letter-spacing: 2px;
}

.underline {
  border-bottom: 5px solid #49a6e9;
  width: 100px;
  margin: auto;
  padding: 5px 0;
} 

.reviews {
  background: #FFF;
  padding: 20px 0;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}


input[type=submit] {
  padding: 10px;
  margin: 10px 20px;
  border: none;
  outline: none;
  font-size: 30px;
  background: #fff;
  color: #8bcbf9;
  cursor: pointer;
}

.submit {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #ebf7ff;
  color: #8bcbf9;
  cursor: pointer;
}